.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-background-color: #2E2E2E;
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #3C3C3C;
    -fx-text-fill: white;
    -fx-border-color: #555;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-padding: 5 10;
}

.button:hover {
    -fx-background-color: #4C4C4C;
}

.text-field {
    -fx-background-color: #444444;
    -fx-text-fill: white;
    -fx-border-color: #555;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-padding: 5;
}

.label {
    -fx-text-fill: white;
}

.vbox {
    -fx-spacing: 10;
}

.hbox {
    -fx-spacing: 10;
}

.metrics-panel {
    -fx-padding: 20;
    -fx-spacing: 15;
    -fx-background-color: #3C3C3C;
}

.combo-box {
    -fx-background-color: #3C3C3C;
    -fx-mark-color: white;
    -fx-text-fill: white;
    -fx-border-color: #555;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-border-width: 1;
}

.combo-box .list-cell {
    -fx-background-color: #3C3C3C;
    -fx-text-fill: white;
    -fx-padding: 3 5;
}

.combo-box .list-view {
    -fx-background-color: #3C3C3C;
    -fx-background-insets: 0;
    -fx-border-color: #555;
    -fx-border-radius: 3;
    -fx-border-width: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 5, 0, 0, 0);
}

.combo-box .list-view .list-cell {
    -fx-background-color: #3C3C3C;
    -fx-text-fill: white;
    -fx-padding: 3 5;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: #555;
}

.combo-box .list-view .list-cell:selected {
    -fx-background-color: #666;
}

.combo-box .arrow-button {
    -fx-background-color: transparent;
}

.combo-box .arrow {
    -fx-background-color: white;
}

.combo-box:focused {
    -fx-border-color: #777;
}

.combo-box:disabled {
    -fx-opacity: 1.0;
    -fx-text-fill: white;
}

.combo-box:disabled .list-cell {
    -fx-text-fill: white;
}

.combo-box:disabled .arrow-button {
    -fx-opacity: 0.0;
}

.date-picker:disabled {
    -fx-opacity: 1.0;
    -fx-background-color: transparent;
}

.date-picker:disabled .text-field {
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

.date-picker:disabled .arrow-button {
    -fx-opacity: 0.0;
}

.date-picker:disabled .arrow {
    -fx-background-color: transparent;
}

.number-field {
    -fx-background-color: #444444;
    -fx-text-fill: white;
    -fx-border-color: #555;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-padding: 5;
    -fx-alignment: CENTER_RIGHT;
}

.tab-label {
    -fx-text-fill: white;
}

.tab {
    -fx-background-color: #3C3C3C;
    -fx-background-insets: 0 1 0 1, 0, 0;
}

.tab:selected {
    -fx-background-color: #555;
}

.tab-header-background {
    -fx-background-color: #2E2E2E;
}

.tab-content-area {
    -fx-background-color: #3C3C3C;
}


.dialog-pane {
    -fx-background-color: #3C3C3C;
    -fx-border-color: #555;
    -fx-border-width: 1px;
}

.dialog-pane .label {
    -fx-text-fill: white;
}

.dialog-pane .button {
    -fx-background-color: #3C3C3C;
    -fx-text-fill: white;
    -fx-border-color: #555;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-padding: 5 10;
}

.dialog-pane .button:hover {
    -fx-background-color: #4C4C4C;
}



/*model list*/
/* Custom ListView styling */
.custom-list-view {
    -fx-background-color: #3C3C3C; /* Background of the entire ListView */
    -fx-text-fill: white; /* Text color */
}

/* Cell styling */
.custom-list-view .list-cell {
    -fx-background-color: #353535; /* Background of each cell */
    -fx-text-fill: white; /* Text color in cells */
}

.custom-list-view .list-cell:filled:hover {
    -fx-background-color: #3C3C3C; /* Hover color */
    -fx-text-fill: white;
}

.custom-list-view .list-cell:filled:selected {
    -fx-background-color: #3C3C3C; /* Selected item color */
    -fx-text-fill: white;
}

.custom-list-view .list-cell:empty {
    -fx-background-color: #555; /* Empty cells */
    -fx-border-color: transparent; /* Remove borders */
}

/* Custom scrollbar styling */
.custom-list-view .scroll-bar:vertical {
    -fx-background-color: #3C3C3C;
}

.custom-list-view .scroll-bar:vertical .track {
    -fx-background-color: #3C3C3C;
}

.custom-list-view .scroll-bar:vertical .thumb {
    -fx-background-color: transparent; /* Red color */
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0.5em;
}

.custom-list-view .scroll-bar:vertical .increment-button,
.custom-list-view .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.custom-list-view .scroll-bar:vertical .increment-arrow,
.custom-list-view .scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

/* Hide horizontal scrollbar */
.custom-list-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.custom-list-view .scroll-bar:horizontal .track,
.custom-list-view .scroll-bar:horizontal .thumb {
    -fx-opacity: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}